body{
    background-image: url(img/background.jfif);
    background-repeat: none ;
    background-size: cover;
}
.center-form{
    text-align: center;
    padding: 20px;
}
a:hover{
    opacity: 50%;  
}
a{
    padding:1px;
}
