body{
    background-image: url(img/contact-us-2.jpg);
    background-repeat: none ;
    background-size: cover;
}
.center-form{
    text-align: center;
    padding: 20px;
}
a:hover{
    opacity: 50%;  
}
a{
    padding:1px;
}
footer{
    color: rgb(16, 84, 211);
    text-align: center;
  }