body{
  /* background-image:url(img/background.jpg); */
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  overflow: hidden;
  background-color: rgb(63, 63, 63);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 0;/*Position the navbar at the left of the page*/
  width: 100%; /* Full width */
  
}  
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-size: 20px;
  padding: 16px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: rgb(56, 56, 56);
}
.search-container input[type=reset]{
  float: right;
  padding: 5px 5px 5px 0px;
  border: 3px solid #fff;
  margin-top:10px;
  font-size:20px;
  margin-right: 16px;
  background-color: black;
  color:#fff;
}
.search-container input[type = reset]:hover{
  opacity:50%;
  border: 3px solid black;
  color: black;
  background-color: #fff;
}
.search-container input[type=text]{
  float: right;
  padding: 5px 0px 5px 5px;
  border: 3px solid black;
  margin-top: 10px;
  margin-right: 2px;
  font-size: 20px;
}
.main {
  padding-top: 20px;
  margin-top: 50px; /* Add a top margin to avoid content overlay */
}
h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(236, 236, 236);
}
h4{
  text-align: center;
  color: rgb(236, 236, 236);
}
footer{
  color: #fff;
  text-align: center;
}
footer p a:hover{
  opacity: 50%;
}
#search-box{
  color: #fff;
  text-align: center;
  margin: auto;
}
#myUL{
  color: #fff;
  text-align: center;
  margin: auto;
}
#new-addition{
  color: #fff;
  text-align: center;
  margin: auto;
}
#searchbar{
  background-image: url(img/search-icon.png);
  background-repeat: no-repeat;
  background-position: 8px 4px;
  background-size: 20px 20px;
  padding: 5px 5px 5px 35px;
}
#search-result{
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  margin:auto;
  width: 500px;
  height: 200px;
}