body{
    background-image: url(img/background.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}
.center-form{
    text-align: center;
    padding: 20px;
}
.center-form2{
    text-align: center;
    padding: 20px;
}
a:hover{
    opacity:50%;  
}
.submit-button{
    background-color: #2196F3;
    font-size: 20px;
}
.center-image{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}
footer{
    color: #fff;
    text-align: center;
  }